[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "_vim/bundle/vim-golang"]
	path = _vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
