[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "_vim/bundle/vim-golang"]
	path = _vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-godef"]
	path = _vim/bundle/vim-godef
	url = https://github.com/dgryski/vim-godef
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/funcoo"]
	path = _vim/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "_vim/bundle/dash"]
	path = _vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
